asgiref==3.11.1
dj-database-url==3.1.2
dj-email-url==1.0.6
django==6.0.6
django-cache-url==3.4.6
environs==11.0.0
gunicorn==22.0.0
marshmallow==4.3.0
packaging==26.2
psycopg==3.2.1
psycopg-binary==3.2.1
python-dotenv==1.2.2
sqlparse==0.5.5
typing-extensions==4.15.0
whitenoise==6.7.0
